
.product_details_page{
    height: 80%;
    width: 80%;
    position: fixed;
    top: 52%;
    left: 10%;
    z-index: 8000;
    transform: translateY(-50%);
    transition: 0.3s;
}
@media screen and (max-width: 492px){
    .product_details_page{
        top: 55%;
    }
}
.details_hide{
    opacity: 0;
    transform: translate(-200%);
}
.product_details_page .det_container{
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: var(--white_color);
    box-shadow: 0 0 5px var(--p_color);
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.product_details_page .det_container .close_btn{
    position: fixed;
    top: 10px;
    right: 20px;
    box-sizing: border-box;
    padding: 5px 5px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    border: none;
}
.product_details_page .det_container .slider_sec{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 50%;
}
.product_details_page .det_container .side_pug{
    padding: 0 10px;
    border-right: 1px solid var(--border_colore);
}
.product_details_page .det_container .side_pug div{
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    border-bottom: 1px solid var(--border_colore);
}
.product_details_page .det_container .side_pug div:last-child{
    border-bottom: none;
}
.product_details_page .det_container .side_pug div img{
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
    cursor: pointer;
}
.product_details_page .det_container .main_photo{
    height: 480px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid var(--border_colore);
    padding-right: 10px;
}
.product_details_page .det_container .main_photo img{
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
}
.product_details_page .det_container .product_description{
    width: 50%;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-left: 10px;
    flex-direction: column;
    font-weight: 600;
}
.product_details_page .det_container .product_description .det_name{
    width: 80%;
    text-transform: capitalize;
    font-size: 18px;
    line-height: 26px;
}
.product_details_page .det_container .product_description .availability span{
    text-transform: capitalize;
    color: var(--main_color);
}
.product_details_page .det_container .product_description .det_price_box{
    display: flex;
    align-items: center;
    gap: 5px;
}
.product_details_page .det_container .product_description .stars i,
.product_details_page .det_container .product_description .det_price{
    color: var(--main_color);
}
.product_details_page .det_container .product_description .det_price{
    font-size: 18px;
}
.product_details_page .det_container .product_description small {
    color: black;
    font-size: 16px;
}


@media screen and (max-width: 1170px){
    .product_details_page .det_container{
        flex-direction: column;
        justify-content: flex-start;
        overflow-y: auto;
        overscroll-behavior: contain;
        width: 100%;
    }
    .product_details_page .det_container .slider_sec{
        flex-direction: column-reverse;
        width: 100%;
        gap: 0;
        border-bottom: 1px solid var(--border_colore);
    }
    .det_container .slider_sec .side_pug{
        display: flex;
        border: none;
        gap: 10px;
        padding: 0;
    }
    .product_details_page .det_container .side_pug div{
        border-bottom: none;
        border-right: 1px solid var(--border_colore);
        padding: 5px 10px;
    }
    .product_details_page .det_container .side_pug div:first-child{
        border-left: 1px solid var(--border_colore);
    }
    .product_details_page .det_container .main_photo{
        border-right: none;
        padding-right: 0;
        padding-bottom: 10px;
        height: 300px;
        border-bottom: 1px solid var(--border_colore);
    }
    .product_details_page .det_container .product_description{
        width: 90%;
        padding-left: 0;
    }
}
@media screen and (max-width: 676px){
    .product_details_page .det_container .side_pug div{
        width: calc(100% / 4);
        height: 80px;
    }
    .product_details_page .det_container .side_pug div:first-child{
        border-left: none;
    }
    .product_details_page .det_container .side_pug div:last-child{
        border-right: none;
    }
    .product_details_page .det_container .main_photo{
        height: 250px;
    }
    .product_details_page .det_container .product_description{
        width: 100%;
    }
    .product_details_page .det_container .product_description .det_name{
        width: 100%;
        font-size: 14px;
    }
}