.section_header{
    width: 80%;
    margin: auto;
    }

.section_header .section_header_container{
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}
.section_header .section_header_container .section_title{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 210px;
    height: 32px;
    gap: 10px;
    background-color: var(--main_color);
    color: var(--white_color);
}
.section_header .section_header_container .section_title::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    z-index: 9;
    left: 0;
    background-color: var(--white_color);
    border-left: 20px solid transparent;
    border-bottom: 20px solid #bb208c;
}
.section_header .section_header_container h6{
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: var(--white_color);
}
.section_header .section_header_container .line{
    height: 1px;
    background-color: var(--main_color);
    flex: 1;
    align-self: flex-end;
}